

body {
  background-color: #FFF;
}

hr {
  margin: auto;
  width: 50vw;
}

.catLogo {
  max-width: 250px;
  margin: auto;
}

.depotLogo {
  max-width: 250px;
  margin: auto;
}

.psuLogo {
  max-width: 250px;
  margin: auto;
}