@media (max-width: 570px) {
  .content {
    width: 80vw;
  }
  hr {
    margin: auto;
    width: 80vw;
  }
  .navbar-nav {
    width: 100vw;
  }
}


@media (min-width: 571px) and (max-width: 800px) {
  .content {
    width: 75vw;
  }
  hr {
    margin: auto;
    width: 75vw;
  }
  .navbar-nav {
    width: 75vw;
    padding-left: 3em;
    padding-right: 3em;
  }
}

@media (min-width: 801px) {
  .content {
    width: 50vw;
  }

  hr {
    margin: auto;
    width: 50vw;
  }

  .navbar-nav {
    width: 50vw;
    padding-left: 3em;
    padding-right: 3em;
  }
}


body {
  background-color: #FFF;
}

.catLogo {
  max-width: 250px;
  margin: auto;
}

.depotLogo {
  max-width: 250px;
  margin: auto;
}

.psuLogo {
  max-width: 250px;
  margin: auto;
}

.logo {
  width: 250px;
}

.workHeader {
  margin-top: -1em;
}
