nav {
  background-color: #30332E;
}

body {
  background-color: #C5BAAF;
}

.accent {
  width: 0;
  height: 0;
  border-top: 100px solid #ce2d4f;
  border-right: 100px solid transparent;
}

.profile {
    z-index: -1;
    position: relative;
}
